<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>create new listing</title>
</head>
<body>
    <h3>Create a new listing</h3>
    <form method="post" action="/listings">
        <input type="text" name="listing[title]" placeholder="Enter title" ><br>
        <textarea name="listing[description]" cols="30" rows="3"></textarea><br>
        <input type="text" name="listing[image]" placeholder="Enter the url of the image"><br>
        <input type="number" name="listing[price]" placeholder="Enter the price"><br>
        <input type="text" name="listing[location]" placeholder="Enter the location"><br>
        <input type="text" name="listing[country]" placeholder="Enter country"><br>
        <button>Submit</button>
    </form>
</body>
</html>